@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    background-color: white;
    font-family: system-ui, sans-serif;
    font-weight: normal;
    overflow-y: scroll;
}


#topnav{
    position: fixed;
    z-index: 10;

    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 125px;
    padding-block: 5px;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: #7997e5;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
}

span {
    font-size: 28px; 
    margin-left: 10px; 
}


#logo{
    padding-inline: 42px;
    padding-block: 2px;

}

#tracker-header{
    position: fixed;
    top: 200px;
    color: black;
    left: 50%;
    transform: translate(-50%, 0);
}


#calendar{
    position: fixed;
    top: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    border-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 40px;
    border-style: solid;
    display: flex;
    padding: 30px;
    flex-direction: column;
    width: 540px;

    
}

.calendarheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7997e5;
    padding: 20px;
    border-radius: 40px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin:-33px;
    margin-bottom: 0px;

}

.calendarheader button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

#monthYear{
    font-size: 24px;
    font-weight: bold;
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    
}

.day{
    text-align: center;
    padding: 25px;
}

.dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 20px;
}

.date.active {
    background: #c0def4;
}

.date:hover{
    background: #c0def4;
}

.date.inactive {
    color: grey;
}

.modal-container {
    display: none;
    position: fixed;
    top: 500px;
    background-color: #3a3a42;
    border: #e97724;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);


}

.modal-container.show-modal{
    display:block;
}



